.container {
    width: 700px;
    height: 60px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    padding: 15px;
    color: white; 
    border-radius: 20px;
}

.title {
    display: flex;
    align-items: center;
   
   
    
}
